@{
    ViewBag.Title = "ManageUserRoles";
}
<section class="hero-wrap hero-wrap-2" style="background-image: url('/feliciano/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center mb-4">
                <h1 class="mb-2 bread">Admin</h1>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>

                </ul>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Admin <i class="ion-ios-arrow-forward"></i></a></span> <span><a href="@Url.Action("Index","Role")">Management <i class="ion-ios-arrow-forward"></i></a></span></p>
            </div>
        </div>
    </div>
</section>
<div class="row"><section style="margin-left:200px">

    <h2>Manage User Roles</h2>
    @Html.ActionLink("Create New Role", "Create") |  @Html.ActionLink("Manage User Role", "ManageUsers")
    <hr />

    <h2>Role Add to User</h2>

    @using (Html.BeginForm("RoleAddToUser", "Role"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <p>
            Username : @Html.TextBox("UserName")
            Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")

        </p>

        <input type="submit" value="Save" />

    }
    @if (ViewBag.ResultMessage != null)
    {
        <h2 style="color:red">@ViewBag.ResultMessage</h2>
    }

    <hr />
    <h3>Get Roles for a User</h3>
    @using (Html.BeginForm("GetRoles", "Role"))
    {
        @Html.AntiForgeryToken()
        <p>
            Username : @Html.TextBox("UserName")
            <input type="submit" value="Get Roles for this User" />
        </p>
    }

    @if (ViewBag.RolesForThisUser != null)
    {
        <div style="background-color:yellow;">
            <h3>Roles for this user </h3>
            <h2> @ViewData["error"]</h2>
            <h2> @ViewData["Noval"]</h2>
            <ol>
                @foreach (string s in ViewBag.RolesForThisUser)
                {
                    <li>@s</li>
                }
            </ol>
        </div>
    }
    else if (ViewData["error"] != null)
    {
        <div style="background-color:yellow;">
            <h3>Roles for this user </h3>
            <h2 style="color:red"> @ViewData["error"]</h2>

        </div>
    }


    <hr />
    <h3>Delete A User from a Role</h3>

    @using (Html.BeginForm("DeleteRoleForUser", "Role"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <p>
            Username : @Html.TextBox("UserName")
            Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")

        </p>

        <input type="submit" value="Delete this user from Role " />


    }
    @if (ViewBag.Delete != null)
    {
        <h2 style="color:red"> @ViewBag.Delete</h2>
    }


</section></div>
